.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 97px;
}

.banner>div {
  position: absolute;
  display: flex;
}

.banner img {
  width: calc(100vw - 2rem);
  border-radius: 30px;
  margin-right: 2px;
}

.numUl {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.numUl ul {
  display: flex;
}

.numUl li {
  margin: 0 6px 10px;
  padding: 4px;
  border-radius: 50%;
  background-color: #ffffff;
}

.active {
  background-color: rgb(237, 109, 61) !important;
}

@media screen and (min-width: 960px) {
  .banner {
    height: 240px;
  }

  .banner img {
    width: calc(100vw - 3rem);
  }
}