.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 120px;
}

.banner>div {
  position: absolute;
  display: flex;
}

.banner img {
  width: calc(100vw - 2rem);
  border-radius: 30px;
  margin-right: 2px;
}

@media screen and (min-width: 960px) {
  .banner {
    height: 240px;
  }
  .banner img {
    width: calc(100vw - 3rem);
  }
}