/* Cont.js */
.block {
  width: calc(100vw - 2rem);
  position: absolute;
  left: 0;
  padding: 10px 1rem 0;
  background-color: rgb(244, 244, 244);
  box-shadow: 0 -10px 20px rgb(244, 244, 244);
}

.block>div {
  background-color: #ffffff;
  margin: 1rem 0;
  border-radius: 10px;
}

/* BlockImg.js */
.blockImg {
  display: flex;
  justify-content: space-around;
}

.blockImg>div {
  position: relative;
  flex: 1 1 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 1rem;
  border-radius: 10px;
  /* overflow: hidden; */
}

.price {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
  box-shadow: 0 -30px 20px rgba(0, 0, 0, .3) inset;
  border-radius: 0 0 10px 10px;
}

.price span {
  display: inline-block;
  margin: 0 4px 6px 2px;
  font-size: 14px;
}

.price span:last-child {
  margin: 0 0 10px 0;
  font-size: 12px;
  text-decoration: line-through;
}

.blockImg .name {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 1rem);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Takeaway.js */
.takeaway {
  padding: 6px 6px 2rem 6px;
}

.takeaway>h2 {
  position: relative;
  font-size: 18px;
}

.takeaway>h2::after {
  content: '外卖';
  font-size: 12px;
  position: relative;
  left: 10%;
  top: -2px;
  padding: 0 2px;
  background-color: rgb(253, 190, 1);
}

.takeaway>span {
  position: absolute;
  right: 2rem;
  top: 2.2rem;
  display: inline-block;
  padding: 0 8px;
  height: 14px;
  line-height: 10px;
  border: 1px solid gray;
  border-radius: 40px;
  color: gray;
}

.takeaway>p {
  margin: 10px 0;
  position: relative;
}

.takeaway>p:nth-of-type(1)>span::before {
  content: '';
  border-left: 1px solid #000000;
  margin: 0 6px;
}

.takeaway>p:nth-of-type(1)>span:first-child:before,
.takeaway>p:nth-of-type(1)>span:last-child:before {
  content: '';
  border-left: none;
  margin: 0;
}

.takeaway>p:nth-of-type(1)>span:last-child {
  position: absolute;
  right: 10px;
}

.takeaway>p:nth-of-type(2)::before {
  content: '优惠';
  font-size: 12px;
  background-color: red;
  color: #ffffff;
  padding: 0 2px 2px 2px;
  margin-right: 4px;
}

.takeaway>p:nth-of-type(3)>span {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 4px;
  height: 12px;
  line-height: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.takeaway>p:nth-of-type(3)>span:first-child {
  margin: 0;
}